    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    /* Contenedor 1 */
    
    
    .container1 {
        position: relative;
        width: 100%;
        height: 640px;
        align-items: center;
        top: 0%;
    }
    
    .servicios {
        background: linear-gradient(90deg, #EE9CA7 0%, #FFDDE1 100%);
    }
    
    .container2 {
        position: relative;
        width: 100%;
        height: 433px;
        align-items: center;
        display: flex;
        background: linear-gradient(90deg, #EE9CA7 0%, #FFDDE1 100%);
    }
    
    .title-navbar {
        font-family: Raleway;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 23px;
        color: #FFFFFF;
    }
    
    .title {
        font-family: Raleway;
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 47px;
        color: #3E3E54;
        margin: 35px 0;
    }
    
    .cta {
        display: inline-block;
        padding: 15px 0;
        width: 278px;
        background: #3E3E54;
        border-radius: 4px;
        text-decoration: none;
        color: #FFFFFF;
    }
    /*Contenedor 2 Ofertas */
    
    .title-ofertas {
        padding: 10px;
        margin-bottom: 10px;
        text-align: center;
        font-family: Raleway;
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 47px;
        color: #3E3E54;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .card{
        padding: 1.5em .5em .5em;
    border-radius: 2em;
        text-align: center;
        border: none;
    }

    .card-img-top{
        position: absolute;
width: 108.59px;
height: 110px;
border-radius: 103.5px;
    }


    .card-block{
        margin-left: 120px;
     justify-content: flex-end;
    }


    .title-landing{
        font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 35px;
line-height: 41px;
display: flex;
align-items: center;

color: #3E3E54;
    }

    .text-landing{
        font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 35px;
display: flex;
text-align: left;
color: #3E3E54;
    }
    
    .card10{
     
        padding: 1.5em .5em .5em;
        border-radius: 2em;
        text-align: center;
        box-shadow: 0 5px 10px rgba(0,0,0,.2);
        background-color: #ffffff ;
    }

    .card20{
        padding: 1.5em .5em .5em;
        border-radius: 2em;
        text-align: center;
        box-shadow: 0 5px 10px rgba(0,0,0,.2);
        background-color: #53c245 ;
    }

    .card-title{
        font-weight: 700;
        font-size: 1.5em;
    }

    .btn01{
        border-radius:2em;
        border-color: white;
        background-color: white;
        color: black;
        padding: .5em 1.5em;
    }
    .btn01:hover {
      background-color: rgba(0, 128, 128, 0.7);
      color: #ffffff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
    /*--- OFERTAS ---*/
    /*Card1 */
    
    .tj1 {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 4px;
    }
    
    .title-tj1 {
        margin-top: 30px;
        font-family: Raleway;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
        align-items: center;
        color: #3E3E54;
        text-align: center;
    }
    
    .subtitle-tj1 {
        font-family: Raleway;
        font-style: normal;
        font-weight: 200;
        font-size: 15px;
        line-height: 14px;
        display: flex;
        align-items: center;
        text-align: center;
    }
    
    .precio1 {
        border-radius: nullpx;
        font-family: Raleway;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 15px;
        text-align: center;
        color: #3E3E54;
    }
    
    .footer-tj1 {
        background: #F0A3AD;
        border-radius: 0px 0px 4px 4px;
    }
    
    .footer-text-tj1 {
        font-family: Raleway;
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        align-items: center;
        text-align: center;
        color: #FFFFFF;
    }
    
    .servicios-img1 {
        width: 300px;
    }
    
    .grid1 {
        margin-left: 50px;
    }
    
    .title-servicio1 {
        font-family: Raleway;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        margin-left: 96px;
        color: #3E3E54;
    }
    
    .title-servicio2 {
        font-family: Raleway;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        margin-left: 76px;
        color: #3E3E54;
    }
    
    .title-servicio3 {
        font-family: Raleway;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        margin-left: 76px;
        color: #3E3E54;
    }
    /*FOOTER*/
    
    .title-footer {
        padding: 10px;
        margin-bottom: 10px;
        text-align: center;
        font-family: Raleway;
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 47px;
        color: #3E3E54;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    
    .lista {
        text-decoration: none;
        font-family: Raleway;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 35px;
        align-items: center;
        color: #FFFFFF;
    }
    
    .copyright {
        font-family: Raleway;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 35px;
        align-items: center;
        text-align: center;
        color: #F5ACB6;
    }
    
    .img-socialmedia1 {
        height: 48px;
        width: 48px;
    }
    
    .img-socialmedia2 {
        height: 48px;
        width: 48px;
        margin-left: 20px;
    }
    
    .img-socialmedia3 {
        height: 48px;
        width: 48px;
        margin-left: 20px;
    }
    .cat {
        color: #3E3E54;
        text-align: left;
        margin-left: 6%;
        margin-top: 4%;
    }

   .contenedor {
       width: 90%;
       margin: 5%;
       overflow: hidden;
       background: #fbf3f3;
    }
    .container1-card-products {
        margin: 5%;
        flex-wrap: wrap;
        
    }
    .card {
        margin: 5%;
    }
    .btn-card {
        margin: 0%;
        border:#ffffff;
        outline: #ffffff;
        background: #F0A3AD;
        width: 100%;
        height: 2em;
        color: #FFFFFF;
    }
    .justify-content-end {
        margin: 6%;
        margin-top: 0%;
    }
    
    .b-card {
        text-align: center;
    }

    .cd-size {
        min-width: 250px;
    }
    .foot {
        min-width: 250px;
    }
    .container-detalle {
        margin: 3%;
        margin-top: 3%;
        
    }
    h1 {
        text-align: center;
    }
    
    .btn-cancel {
        background: none;
        border: none;
    }

    .detail-ordernow {
        padding-top: 4%;
    }

    .form-envio {
        padding: 10%;
        padding-top: 0%;
    }

    .star {
        font-size: 30px;
        color: #fcafaf;
        display: inline-block;
        
    }

    .h2pro {
        padding: 0%;
        margin: 0%;
    }
    
    .title-search {
        padding-left: 1%;
    }
    
    .table-bordered {
        border-top: #3E3E54;
        border-left: #3E3E54;
        
    }

    /* mail view */

    #outlook a {
        padding:0;
    }
    .ExternalClass {
        width:100%;
    }
    .ExternalClass,
    .ExternalClass p,
    .ExternalClass span,
    .ExternalClass font,
    .ExternalClass td,
    .ExternalClass div {
        line-height:100%;
    }
    .es-button {
        text-decoration:none!important;
    }
    a[x-apple-data-detectors] {
        color:inherit!important;
        text-decoration:none!important;
        font-size:inherit!important;
        font-family:inherit!important;
        font-weight:inherit!important;
        line-height:inherit!important;
    }
    .es-desk-hidden {
        display:none;
        float:left;
        overflow:hidden;
        width:0;
        max-height:0;
        line-height:0;
    }
    [data-ogsb] .es-button {
        border-width:0!important;
        padding:15px 30px 15px 30px!important;
    }
    @media only screen and (max-width:600px) {p, ul li, ol li { margin-bottom:12px!important } .es-header-body p, .es-header-body ul li, .es-header-body ol li { margin-bottom:12px!important } .es-footer-body p, .es-footer-body ul li, .es-footer-body ol li { margin-bottom:12px!important } .es-infoblock p, .es-infoblock ul li, .es-infoblock ol li { margin-bottom:9px!important } p, ul li, ol li, a { line-height:150%!important } h1, h2, h3, h1 a, h2 a, h3 a { line-height:120%!important } h1 { font-size:32px!important; text-align:center; margin-bottom:20px } h2 { font-size:26px!important; text-align:center; margin-bottom:16px } h3 { font-size:20px!important; text-align:center; margin-bottom:12px } .es-header-body h1 a, .es-content-body h1 a, .es-footer-body h1 a { font-size:32px!important } .es-header-body h2 a, .es-content-body h2 a, .es-footer-body h2 a { font-size:26px!important } .es-header-body h3 a, .es-content-body h3 a, .es-footer-body h3 a { font-size:20px!important } .es-menu td a { font-size:16px!important } .es-header-body p, .es-header-body ul li, .es-header-body ol li, .es-header-body a { font-size:16px!important } .es-content-body p, .es-content-body ul li, .es-content-body ol li, .es-content-body a { font-size:16px!important } .es-footer-body p, .es-footer-body ul li, .es-footer-body ol li, .es-footer-body a { font-size:16px!important } .es-infoblock p, .es-infoblock ul li, .es-infoblock ol li, .es-infoblock a { font-size:12px!important } *[class="gmail-fix"] { display:none!important } .es-m-txt-c, .es-m-txt-c h1, .es-m-txt-c h2, .es-m-txt-c h3 { text-align:center!important } .es-m-txt-r, .es-m-txt-r h1, .es-m-txt-r h2, .es-m-txt-r h3 { text-align:right!important } .es-m-txt-l, .es-m-txt-l h1, .es-m-txt-l h2, .es-m-txt-l h3 { text-align:left!important } .es-m-txt-r img, .es-m-txt-c img, .es-m-txt-l img { display:inline!important } .es-button-border { display:inline-block!important } a.es-button, button.es-button { font-size:16px!important; display:inline-block!important; border-width:15px 30px 15px 30px!important } .es-btn-fw { border-width:10px 0px!important; text-align:center!important } .es-adaptive table, .es-btn-fw, .es-btn-fw-brdr, .es-left, .es-right { width:100%!important } .es-content table, .es-header table, .es-footer table, .es-content, .es-footer, .es-header { width:100%!important; max-width:600px!important } .es-adapt-td { display:block!important; width:100%!important } .adapt-img { width:100%!important; height:auto!important } .es-m-p0 { padding:0px!important } .es-m-p0r { padding-right:0px!important } .es-m-p0l { padding-left:0px!important } .es-m-p0t { padding-top:0px!important } .es-m-p0b { padding-bottom:0!important } .es-m-p20b { padding-bottom:20px!important } .es-mobile-hidden, .es-hidden { display:none!important } tr.es-desk-hidden, td.es-desk-hidden, table.es-desk-hidden { width:auto!important; overflow:visible!important; float:none!important; max-height:inherit!important; line-height:inherit!important } tr.es-desk-hidden { display:table-row!important } table.es-desk-hidden { display:table!important } td.es-desk-menu-hidden { display:table-cell!important } .es-menu td { width:1%!important } table.es-table-not-adapt, .esd-block-html table { width:auto!important } table.es-social { display:inline-block!important } table.es-social td { display:inline-block!important } }

    #form-send, #btnRecoger{
        display: none;
    }

    .box {
        padding: 10%;
        padding-top: 5%;
        text-align: center;
    }

    
